<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- OpenGraph Tags -->
    <meta charset="UTF-8">
    <meta name="language" content="English">
    <meta name="author" content="tascord">
    <meta name="theme-color" content="#ff006a">
    <meta name="keywords" content="">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:image" content="/p/image.png">
    <meta property="og:image:width" content="1000">
    <meta property="og:image:height" content="1000">
    <meta property="og:description" content="">

    <!-- Scripts -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/p/scripts/request.js"></script>

    <!-- Styling -->
    <link rel="stylesheet" href="/p/style/main.css">

    <!-- Page Title -->
    <title>Colours!</title>

</head>
<body>

    <style>

        body {

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;

        }

        .background { color: white; }
        
        .colour {

            width: 4vmax;
            height: 4vmax;

        }

        h2 {

            font-size: 3vmax;
            margin: 0;
            padding: 0;
            font-family: 'Varela Round', sans-serif;
            text-align: center;
            align-self: center;

        }

    </style>

    <div class="colour foreground light"  ><h2>:D</h2></div>
    <div class="colour foreground mid"    ><h2>:D</h2></div>
    <div class="colour foreground dark"   ><h2>:D</h2></div>
    <div class="colour foreground alt"    ><h2>:D</h2></div>
    <div class="colour foreground yellow" ><h2>:D</h2></div>
    <div class="colour foreground green"  ><h2>:D</h2></div>
    <div class="colour foreground red"    ><h2>:D</h2></div>

    <div class="colour background light"  ><h2>:D</h2></div>
    <div class="colour background mid"    ><h2>:D</h2></div>
    <div class="colour background dark"   ><h2>:D</h2></div>
    <div class="colour background alt"    ><h2>:D</h2></div>
    <div class="colour background yellow" ><h2>:D</h2></div>
    <div class="colour background green"  ><h2>:D</h2></div>
    <div class="colour background red"    ><h2>:D</h2></div>


</body>
</html>